.site-content {
  display: block;
  float: left;
  margin-left: 0%;
  width: 100%;
}

body:before {
  background-color: transparent;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
  content: "";
  display: block;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  z-index: 0; /* Fixes flashing bug with scrolling on Safari */
}

ul.contents_bar {
    margin: 0;
    overflow: hidden;
    background-color: #AAA;
    height: 66px;
    position: absolute;
    z-index:10;
}

ul.contents_bar li {
  height:100%;
  width: 200px;
  background-color: #5e6e99;
  z-index:10;
}

a.sidr-left-link {
  display:block;
  padding: 19.25px 13.5px 20.25px;
}

/* Hamburger Menu Animation */
:root {
  --bar-width: 20px;
  --bar-height: 2px;
  --bar-spacing: 8px;
  --bar-speed: 300ms;
}


.hamburger-menu {
  float: left;
  width: var(--bar-width);
  height: var(--bar-height) + var(--bar-spacing)*2;
  cursor: pointer;
  margin-top: 6px;
  margin-right: 7px;
}

.bar,
.bar:after,
.bar:before {
  width: var(--bar-width);
  height: var(--bar-height);
}

.bar {
  position: relative;
  transform: translateY(var(--bar-spacing));
  background: rgba(0, 0, 0, 1);
  transition: all 0ms var(--bar-speed);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: var(--bar-spacing);
  background: rgba(0, 0, 0, 1);
  transition: bottom var(--bar-speed) var(--bar-speed) cubic-bezier(0.23, 1, 0.32, 1), transform var(--bar-speed) cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: var(--bar-spacing);
  background: rgba(0, 0, 0, 1);
  transition: top var(--bar-speed) var(--bar-speed) cubic-bezier(0.23, 1, 0.32, 1), transform var(--bar-speed) cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top var(--bar-speed) cubic-bezier(0.23, 1, 0.32, 1), transform var(--bar-speed) var(--bar-speed) cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom var(--bar-speed) cubic-bezier(0.23, 1, 0.32, 1), transform var(--bar-speed) var(--bar-speed) cubic-bezier(0.23, 1, 0.32, 1);;
}






/* Styling the nav bar */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    min-height: inherit;
    position: relative;
    display: block;
    height: 67px;
}
.nav-main {
    background-color: #fff;
    border-bottom: 1px solid rgba(10, 46, 74, .2)
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.bare {
    padding: 0!important;
}
.row {
    box-sizing: border-box;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 81px 0;
}
.col-xs-4 {
    width: 33.33333333%;
}

.nav-trigger {
    padding: 19.25px 13.5px 20.25px;
    color: #5e6e99;
    height: 66px;
}

body {
    font-size: 18px;
    line-height: 27px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.show-sm-inline {
    display: inline;
}

.navbar a {
  display: inline-block;
  outline: none;
}